* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  background-color: #FF9A4B;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.step-box {
  width: 300px;
  background-color: red;
  margin-right: 30px;
}
.step-box:last-child {
  margin-left: none;
}
span {
  background-color: #FF9A4B;
  color: #fff;
}

h3 {
  margin: 15px;
  padding: 5px;
}



footer {
  width: 100%;
  height: 50px;
  background-color: #AAAAAA;
}
